<div class="row">
    <div class="col">
        <img class="homeImg" src="../../assets/images/homePageImage.jpg">
        <div class="centered">
            <h3 class="h3_size">
                Improving Lives
            </h3>
            <h3 class="h3_size">
                Through Learning
            </h3>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <h4 class="h4_size">
            The global place for learning
        </h4>
    </div>
</div>
<div class="row mt-2 about">
    <div class="col">
        <p>
            How many times were you frustrated while looking out for a good collection
            of programming interview questions? What did you expect and what did you get?
            This portal has been created to provide well written,well thought and
            well explained solutions for selected questions.
        </p>
    </div>
</div>